.overtheblog{
    display: flex;
    width: 87%;
    grid-gap: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}
.products{
    height: 600px;
    width: 100%;
    
}
.products>img{
    height: 400px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;

}
.products>h1{
    font-size: 20px;
    text-align: center;
}
.products>p{
    font-size: 14px;
    text-align: center;
}
.products>button{
    margin-left: 155px;
    font-weight: 10px;
    font-size: 15px;
    height: 50px;
    width: 120px;
    border: 1px solid gray;
    background: none;
}