.navbar{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 3px solid black;
}
.logo{
    text-decoration: none;
}

.logo>div:nth-child(1){
    color:black;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
}
.logo>div:nth-child(2){
    color:black;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.search{
    width: 30%;
    height: 40px;
    margin-top: 20px;
}
.account{
    margin-top: 20px;
}
.cart{
    margin-top: 20px;
    text-decoration: none;
}
.menubar{
    display: flex;
    margin-left: 6%;
    justify-content: space-around;
    width: 75%;
}
.menubar>p{
    font-size: 15px;
}