.navbar{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 3px solid black;
}
.logo{
    text-decoration: none;
}

.logo>div:nth-child(1){
    color:black;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
}
.logo>div:nth-child(2){
    color:black;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.search{
    width: 30%;
    height: 35px;
    margin-top: 20px;
}
.profile{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.account{
    margin-top: 20px;
}
.cart{
    margin-top: 20px;
    text-decoration: none;
}
.menubar{
    height: 30px;
    display: flex;
    margin-left: 6%;
    justify-content: space-between;
    width: 75%;
}

.menubar>div>p{
    /* width: 120%; */
    margin-top: 5px;
    font-size: 15px;
    height: 100%;
    text-align: center;
}
.menubar>div:hover{
    background-color: black;
    color: white;
}